.Auth {
  width: 30%;
  text-align: center;
  padding: 30px;
  margin: 0px auto; }
  .Auth h3 {
    margin-bottom: 40px; }

@media only screen and (min-width: 1224px) {
  .Auth {
    width: 30%;
    text-align: center;
    padding: 30px;
    margin: 0px auto; }
    .Auth h3 {
      margin-bottom: 40px; } }
a, a:visited {
  color: #ff520d;
  text-decoration: none; }

a:hover {
  opacity: 0.5; }

.Button {
  background-color: #ff520d;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #ff520d; }
  .Button:hover {
    background-color: #ffffff;
    color: #ff520d; }
  .Button--outline {
    background-color: #ffffff;
    border: 1px solid #ff520d; }
.Navigation {
  background-color: #FFFFFF;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}
