a, a:visited {
  color: #ff520d;
  text-decoration: none; }

a:hover {
  opacity: 0.5; }

.Button {
  background-color: #ff520d;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #ff520d; }
  .Button--primary {
    background-color: #ff520d;
    color: #ffffff; }
  .Button:hover {
    background-color: #ffffff;
    color: #ff520d; }
  .Button--outline {
    background-color: #ffffff;
    border: 1px solid #ff520d; }
.Search__Box {
  padding: 20px;
  background-color: red; }

.Search__Input {
  position: fixed;
  margin: 0px auto; }

.Search__Button {
  position: relative;
  top: 0;
  right: 0; }
.Auth {
  width: 100%;
  text-align: center;
  padding: 20px;
  margin: 0px auto; }

.Feedback__Input {
  color: #495057;
  border: 1px solid #ced4da; }

.Feedback__Input--error {
  color: red;
  border: 1px solid red; }

.Feedback__Text--success {
  color: green; }

@media only screen and (min-width: 1224px) {
  .Auth {
    width: 30%;
    text-align: center;
    padding: 30px;
    margin: 0px auto; }
    .Auth h3 {
      margin-bottom: 40px; } }
.Navigation {
  background-color: #FFFFFF;
  border-bottom: 1px solid grey;
  margin-bottom: 0px;
}
.Alert {
  width: 100%;
  height: 30px;
  background-color: #17a2b8; }
  .Alert__Body {
    padding: 10px; }
    .Alert__Body h4 {
      text-align: center; }
  .Alert__Body--success {
    background-color: #28a745; }
  .Alert__Body--primary {
    background-color: #ff520d; }
  .Alert__Body--warning {
    background-color: #ffc107; }
  .Alert__Body--info {
    background-color: #17a2b8; }
  .Alert__Body--danger {
    background-color: #dc3545; }
