* {
  margin: 0px;
	padding: 0px;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: #FFF;
  font-family: 'Roboto';
}

.Wrapper{
  width: 100%;
  margin: 0px auto;
}

.Content {
  width: 100%;
  min-height: 100vh;
  float: right;
}

.Body {
  width: 100%;
  min-height: 100vh;
}
