a, a:visited {
  color: #ff520d;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

.Button {
  background-color: #ff520d;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #ff520d;
  padding: 6px 12px;
  border-radius: 3px;

  @at-root #{&}--primary{
    background-color: #ff520d;
    color: #ffffff;
  }
  @at-root #{&}:hover{
    background-color: #ffffff;
    color: #ff520d;
  }

  @at-root #{&}--outline {
    background-color: #ffffff;
    border: 1px solid #ff520d;
    color: #ff520d;
  }

  @at-root #{&}--outline:hover {
    background-color: #ff520d;
    border: 1px solid #ff520d;
    color: #ffffff;
  }

  @at-root #{&}__Block {
    width: 100%;
  }

}
